
 <%- include partials/header.ejs %>

 <%- include partials/main_nav.ejs %>
 <style>
   
  
   body{
      background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url('Assets/images/background.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      position: relative;
   }
 </style>

    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> </h1>
      <p class="lead">Hi, I'm Revathi Babu..</p>
      <hr class="my-4">
      <p>To know more about me as a Web App Development student,please come and have a look</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
      </p>
    </div>
    <body style="background-color: #b8b894">
      
    </body>
    
     
    <%- include partials/bottom_nav.ejs %>
    
    <%- include partials/footer.ejs %>
